{{!-- Extends the main layout --}}
{{#extends 'main'}}

{{!-- Content specific to the courses view --}}
{{#content 'body'}}
<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Courses</h2>
        <hr />
        {{#unless courses}}
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>
        {{else}}
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each courses}}
                            <tr>
                                <td><a href="/course/{{this.courseId}}">{{this.courseCode}}</a></td>
                                <td><a href="/students?course={{this.courseId}}">{{this.courseDescription}}</a></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        {{/unless}}
    </div>
</div>
{{/content}}
